/* ===================================== Додаємо шрифти =====================================================*/

@import url("fonts.css");

/* ===================================== Скидаємо усі стилі =================================================*/

@import url("reset.css");

/*==================================================================================================================*/
.wrapper {
	background-color: #c9b8b8;
}

.page {
	max-width: 1200px;
	padding: 30px 10px;
	margin: 0 auto;
}

.page__carblock {
	position: relative;
	min-height: 600px;
	margin-bottom: 30px;
	background-color: #fff;
	border-radius: 40px;

}

.page__himars {
	position: relative;
	z-index: 2;
	left: -400px;
	top: 100px;
	transform: scale(0.25);
}

.page__grass {
	position: absolute;
	z-index: 10;
	left: 700px;
	top: 520px;
	transform: scale(1.5);
}

/*==================================================================================================================*/



.tree {
	max-width: 150px;
}

.tree--left {
	position: absolute;
	left: 0;
	top: 200px;
	z-index: 4;
	transform: scale(1.2);
}

.tree--middle {
	position: absolute;
	left: 500px;
	top: 30px;
	transform: scale(0.8);
}

.tree--right {
	position: absolute;
	left: 1000px;
	top: 170px;
}

.tree__foliage {
	width: 150px;
	height: 200px;
	border-radius: 50%;
	background-color: green;
	transform: rotatey(45deg);
	margin: 0 auto;
}


.tree__trunk {
	margin: -10px auto 0;
	width: 20px;
	height: 100px;
	background-color: rgb(41, 13, 13);
}


.tree__grass {
	margin: -40px auto 0;
}

.grass {
	width: 120px;
	height: 50px;
	background-color: transparent;
	overflow: clip;
	position: relative;
}

.grass__item {
	width: 100px;
	height: 100px;
	background-color: green;
	border-radius: 50%;
	transform: rotatey(40deg);
}

.grass__item::before {
	content: "";
	width: 120px;
	height: 120px;
	background-color: white;
	border-radius: 50%;
	transform: rotatey(40deg);
	position: absolute;
	z-index: 2;
}

.grass__item1 {
	transform: translatex(47px);
	z-index: 1;
	left: 0;
	top: 0;
	position: absolute;
}

.grass__item2 {
	transform: rotatey(180deg) translatex(28px);
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
}

.grass__item3 {
	transform: translatex(55px) translateY(15px);
	z-index: 3;
	left: 0;
	top: 0;
	position: absolute;
}

.grass__item4 {
	transform: rotatey(180deg) translatex(35px) translateY(15px);
	z-index: 3;
	position: absolute;
	left: 0;
	top: 0;
}

.grass__item5 {
	transform: translatex(57px) translateY(30px);
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
}

.grass__item6 {
	transform: rotatey(180deg) translatex(37px) translateY(30px);
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
}

/*==================================================================================================================*/

.wheel__tire {
	width: 395px;
	height: 395px;
	border-radius: 50%;
	background-color: rgb(57, 59, 71);
	text-align: center;
}

.wheel__disk {
	display: inline-block;
	margin-top: 102px;
	width: 190px;
	height: 190px;
	border-radius: 50%;
	background-color: rgb(14, 21, 31);
	padding: 30px;
}

.wheel__axis {
	display: inline-block;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background-color: rgb(164, 165, 196);
	margin-top: 27px;
}

.wheel--front {
	position: absolute;
	left: 2350px;
	top: 1080px;
	z-index: 6;
}

.wheel--back-first {
	position: absolute;
	left: 1180px;
	top: 1080px;
	z-index: 6;
}

.wheel--back-second {
	position: absolute;
	left: 700px;
	top: 1080px;
	z-index: 6;
}


/*====================================================================================================================================*/
.cabin {
	position: absolute;
	top: 500px;
	left: 2400px;
	height: 600px;
	z-index: 4;
	width: 100%;
}

.cabin__satellite {
	position: absolute;
	left: 40px;
	top: -60px;
	width: 18px;
	height: 110px;
	background-color: rgb(28, 27, 32);
	border-radius: 8px 8px 0 0;
}


.cabin__body {
	position: absolute;
	top: 0;
	left: 0;
	perspective: 1000px;
	perspective-origin: left top;
}

.cabin__top-body {
	width: 525px;
	height: 300px;
	background-color: rgb(90, 90, 102);
	transform: rotateX(50deg);
	border-radius: 50px 10px 0 17px;
}

.cabin__bottom-body {
	position: relative;
	top: -23px;
	left: 117px;
	background-color: rgb(68, 68, 78);
	width: 500px;
	height: 270px;
	transform: skewX(10deg);
	border-radius: 0 2px 0 0;
}

.cabin__bottom-body::before {
	content: "";
	position: absolute;
	left: -80px;
	top: 0;
	width: 0;
	height: 0;
	border-top: 100px solid rgb(68, 68, 78);
	border-left: 180px solid transparent;
}

.cabin__bottom-body::after {
	content: "";
	position: absolute;
	bottom: -2px;
	right: -2px;
	width: 0;
	height: 0;
	border-bottom: 80px solid #fff;
	border-left: 100px solid transparent;
}

.cabin__door {
	position: absolute;
	top: -22px;
	left: 190px;
	perspective: 1000px;
	perspective-origin: left top;
}


.cabin__top-door {
	border-left: 8px solid rgb(40, 40, 48);
	border-right: 8px solid rgb(40, 40, 48);
	border-top: 15px solid rgb(40, 40, 48);
	width: 300px;
	height: 360px;
	background-color: transparent;
	transform: rotateX(67deg);
}

.cabin__middle-door {
	position: relative;
	top: -60px;
	width: 360px;
	height: 50px;
	background-color: transparent;
	border-left: 10px solid rgb(40, 40, 48);
	border-right: 10px solid rgb(40, 40, 48);
}

.cabin__bottom-door {
	position: relative;
	top: -214px;
	left: 67px;
	border-left: 9px solid rgb(40, 40, 48);
	border-right: 8px solid rgb(40, 40, 48);
	border-top: 15px solid rgb(40, 40, 48);
	width: 292px;
	height: 500px;
	background-color: transparent;
	transform: rotateX(131deg) skewX(-15deg);
}


.cabin__window {
	position: absolute;
	top: 122px;
	left: 275px;
	z-index: 2;
	transform: scale(1.5);
	width: 115px;
	height: 80px;
	background-color: rgb(46, 44, 49);
	border: 5px solid rgb(124, 124, 134);
	padding: 10px 17px;
}

.cabin__glass-window {
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgba(194, 232, 253, 1) 0%, rgba(121, 182, 226, 1) 19%, rgba(121, 182, 226, 1) 33%, rgba(194, 232, 253, 1) 52%, rgba(121, 182, 226, 1) 74%);
}


.dots {
	position: relative;
	top: 120px;
	left: 35px;
	font-size: 0;
}


.dots__top .dots__line-top:not(:last-child) {
	margin-bottom: 35px;
}


.dots__line-top .dots__dot {
	margin-right: 35px;
}

.dots__line-top .dots__dot:nth-child(3) {
	margin-right: 55px;
}

.dots__line-top *:last-child {
	margin-right: 0;
}


.dots__dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(118, 118, 130);
	display: inline-block;
}


.dots__bottom {
	position: relative;
	top: 70px;
	left: 280px;
}

.dots__bottom .dots__dot {
	margin-right: 35px;
}

.dots__bottom *:last-child {
	margin-right: 0;
}

.cabin__handle {
	position: absolute;
	left: 250px;
	top: 300px;
	z-index: 4;
	background-color: rgb(27, 28, 33);
	width: 20px;
	height: 50px;
	border-radius: 5px;
}

.cabin__hinges {
	position: absolute;
	top: 220px;
	left: 500px;
}


.cabin__hing {
	background-color: rgb(27, 28, 33);
	width: 45px;
	height: 22px;
	border-radius: 5px;
}

.cabin__hing:last-child {
	margin-top: 150px;
	margin-left: 22px;
}



/*====================================================================================================================================*/


.himars__highbox {
	position: absolute;
	top: 600px;
	left: 2180px;
	z-index: 5;
}


.highbox {
	width: 170px;
}


.highbox__top {
	background-color: rgb(68, 68, 78);
	width: 150px;
	height: 100px;
	border-radius: 20px;
	margin: 0 auto;
}


.highbox__middle {
	margin: 0 auto;
	width: 100px;
	height: 23px;
	background-color: rgb(10, 10, 12);
}

.highbox__locker {
	box-sizing: content-box;
	width: 105px;
	height: 205px;
	background-color: rgb(10, 10, 12);
	margin: 0 auto;
	border: 25px solid rgb(68, 68, 78);
	border-radius: 5px;
}


.highbox__handle {
	background-color: rgb(68, 68, 78);
	width: 12px;
	height: 50px;
	border-radius: 5px;
	margin: 42px 0 0 22px;
}

.highbox__bottom {
	background-color: rgb(68, 68, 78);
	width: 155px;
	height: 55px;
	border-radius: 10px;
	margin: 30px auto 0;
}

/*======================================================================================================================================*/

.himars__smallbox {
	position: absolute;
	top: 800px;
	left: 1925px;
	z-index: 5;
}


.smallbox {
	width: 240px;
	height: 215px;
	background-color: rgb(52, 51, 59);
	border-radius: 25px;
	padding: 30px;
}

.smallbox__content {
	background-color: rgb(10, 10, 12);
	width: 100%;
	height: 100%;
	border-radius: 20px;
	padding: 30px 40px;
}

.smallbox__handle {
	background-color: rgb(52, 51, 59);
	width: 12px;
	height: 50px;
	border-radius: 5px;
}

/*======================================================================================================================================*/

.himars__downbox {
	position: absolute;
	left: 1610px;
	top: 1065px;
	z-index: 5;
}


.downbox {
	width: 282px;
	height: 158px;
	border-radius: 25px;
	background-color: rgb(75, 75, 85);
	padding: 50px 0;
	text-align: center;
}


.downbox__line {
	background-color: rgb(42, 42, 52);
	height: 10px;
	width: 108%;
	margin-left: -12px;
	margin-bottom: 22px;
	border-radius: 3px;
}


.downbox__dashes *:not(:last-child) {
	margin-right: 35px;
}


.downbox__dash {
	background-color: rgb(42, 42, 52);
	height: 10px;
	width: 42px;
	display: inline-block;
	border-radius: 3px;
}

/*======================================================================================================================================*/

.himars__fuelbox {
	position: absolute;
	left: 1950px;
	top: 1100px;
	z-index: 5;
}


.fuelbox {
	width: 350px;
	height: 123px;
	border-radius: 17px;
	background-color: rgb(90, 90, 102);
	text-align: center;
}


.fuelbox__line {
	display: inline-block;
	width: 10px;
	height: 140px;
	background-color: rgb(67, 67, 75);
	margin-top: -7px;
	border-radius: 3px;
}

.fuelbox__line:not(:last-child) {
	margin-right: 87px;
}

/*======================================================================================================================================*/

.himars__fender {
	position: absolute;
	top: 900px;
	left: 2400px;
	z-index: 5;
}


.fender {
	perspective: 1000px;
	perspective-origin: left top;
}


.fender__top {
	position: relative;
	top: 80px;
	left: -35px;
	width: 320px;
	height: 29px;
	background-color: rgb(45, 45, 55);
	border-radius: 12px;
}


.fender__middle {
	background-color: #000000;
	width: 310px;
	height: 300px;
	transform: rotateX(68deg);
}


.fender__right {
	position: relative;
	top: -107px;
	left: 180px;
	width: 350px;
	height: 29px;
	background-color: rgb(45, 45, 55);
	border-radius: 12px;
	transform: rotate(62deg);
}

/*======================================================================================================================================*/

.himars__frame {
	position: absolute;
	top: 970px;
	left: 540px;
	z-index: 1;
	font-size: 0;
}

.frame__long-top {
	display: inline-block;
	width: 1280px;
	height: 60px;
	background-color: rgb(68, 68, 78);
	margin-left: 130px;
	border-radius: 20px 0 0 20px;
	margin-right: 190px;
}

.frame__top {
	position: relative;
	z-index: 4;
}

.frame__short-top {
	display: inline-block;
	width: 400px;
	height: 70px;
	background-color: rgb(88, 86, 97);
	position: relative;
}

.frame__short-top::before {
	content: "";
	position: absolute;
	left: 260px;
	top: -50px;
	width: 140px;
	height: 50px;
	background-color: rgb(53, 52, 58);
	border-radius: 20px 0 0 0;
}

.frame__main {
	position: relative;
	z-index: 3;
	width: 2000px;
	height: 130px;
	background-color: rgb(128, 127, 135);
	border-radius: 50px 0 0 50px;
}

.frame__main::before {
	content: "";
	position: absolute;
	left: -2px;
	bottom: -2px;
	width: 0;
	height: 0;
	border-bottom: 60px solid #fff;
	border-right: 50px solid transparent;
}

.frame__main::after {
	content: "";
	position: absolute;
	left: -2px;
	top: -2px;
	width: 180px;
	height: 0;
	border-top: 25px solid #fff;
	border-right: 25px solid transparent;

}

.frame__dots {
	position: absolute;
	z-index: 4;
	left: 60px;
	top: 65px;
}

.frame__dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	background-color: rgb(73, 73, 83);
}

.frame__dot:not(:last-child) {
	margin-right: 35px;
}

.frame__fenders {
	position: absolute;
	top: 0;
	left: 200px;
}

.frame__fender {
	width: 320px;
	height: 70px;
	border-radius: 0 0 20px 20px;
	background-color: rgb(10, 10, 12);
	display: inline-block;
}

.frame__fender:not(:last-child) {
	margin-right: 150px;
}


.frame__bottom {
	font-size: 0;
}



.frame__long-bottom {
	position: relative;
	left: 0;
	top: -60px;
	width: 1200px;
	height: 50px;
	background-color: rgb(88, 88, 98);
	border-radius: 0 0 0 15px;
	display: inline-block;
	margin-left: 110px;
}


.frame__short-bottom {
	background-color: rgb(12, 12, 12);
	width: 320px;
	height: 110px;
	border-radius: 0 0 20px 20px;
	display: inline-block;
}



.frame__wheels {
	background-color: rgb(28, 28, 36);
	width: 120px;
	height: 80px;
	position: relative;
	top: -60px;
	left: 540px;
}



.frame__right {
	position: relative;
	left: 2180px;
	top: -280px;
}



.frame__main-right {
	width: 240px;
	height: 90px;
	background-color: rgb(107, 107, 117);
}



.frame__item-right {
	width: 65px;
	height: 130px;
	background-color: rgb(68, 68, 78);
	border-radius: 10px;
	position: relative;
	top: -105px;
	left: 130px;
}

.frame__bumper {
	width: 80px;
	height: 130px;
	background-color: rgb(127, 127, 137);
	position: relative;
	top: -235px;
	left: 230px;
}

.frame__bumper::after {
	content: "";
	position: absolute;
	bottom: -2px;
	right: -2px;
	border-bottom: 50px solid #fff;
	border-left: 50px solid transparent;
}

/*======================================================================================================================================*/

.himars__cannon {
	position: absolute;
	z-index: 2;
	top: 560px;
	left: 450px;
}

.himars__cannon:hover {
	transform-origin: 19% 75%;
	transform: rotate(-30deg);
	transition: all 1s ease 0s;
}

.cannon__top {
	width: 440px;
	height: 65px;
	background-color: rgb(40, 39, 45);
	margin-left: 300px;
	border-radius: 15px 15px 0 0;
}


.cannon__main {
	position: relative;
	z-index: 2;
	top: -2px;
	text-align: center;
	padding-top: 70px;
}


.main-cannon {
	width: 1250px;
	height: 300px;
	background-color: rgb(68, 68, 78);
	border-radius: 10px 0 30px 0;
}

.main-cannon::before {
	content: "";
	position: absolute;
	left: -5px;
	bottom: -5px;
	width: 60px;
	height: 70px;
	border-radius: 0% 100% 0% 100% / 100% 67% 33% 0%;
	background-color: #fff;
}

.main-cannon::after {
	content: "";
	position: absolute;
	top: -2px;
	right: -2px;
	width: 100px;
	height: 30px;
	background-color: #fff;
}

.main-cannon>*:not(:last-child) {
	margin-right: 40px;
}

.main-cannon__dots {
	display: inline-block;
	vertical-align: middle;
}


.main-cannon__dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(90, 90, 102);
}

.main-cannon__dot:not(:last-child) {
	margin-bottom: 40px;
}

.main-cannon__frame {
	display: inline-block;
	width: 250px;
	height: 180px;
	background-color: rgb(90, 90, 102);
	border-radius: 30px;
	vertical-align: middle;
}


.main-cannon__frame--short {
	width: 95px;
	border-radius: 15px;
}


.cannon__right {
	position: absolute;
	right: -278px;
	top: -12px;
	z-index: 2;
	font-size: 0;
}


.cannon__longitem-right {
	display: inline-block;
	width: 352px;
	height: 100px;
	background-color: rgb(10, 10, 12);
	position: relative;
}

.cannon__longitem-right::before {
	content: "";
	position: absolute;
	left: -2px;
	bottom: -2px;
	background-color: rgb(68, 68, 78);
	width: 100px;
	height: 30px;
	border-radius: 0 30px 0 0;
}

.cannon__longitem-right::after {
	content: "";
	position: absolute;
	right: -24px;
	bottom: -15px;
	border-top: 18px solid rgb(10, 10, 12);
	border-left: 15px solid transparent;
	border-right: 5px solid transparent;
	width: 50px;
	height: 0;
	border-radius: 2px;
}

.cannon__shortitem-right {
	display: inline-block;
	width: 25px;
	height: 190px;
	background-color: rgb(10, 10, 12);
	border-radius: 2px 2px 0 0;
	position: relative;
	left: -2px;
}


.cannon__bottom {
	perspective: 1000px;
	perspective-origin: center;
	margin-left: 100px;
	position: relative;
	z-index: 1;
	top: -44px;
	left: 90px;
}


.cannon__hing {
	display: inline-block;
	width: 70px;
	height: 208px;
	background-color: rgb(28, 28, 36);
	border-radius: 0 0 40% 40%;
	transform: rotatex(-55deg) skewx(-24deg);
}


.cannon__support {
	width: 290px;
	height: 70px;
	background-color: rgb(41, 40, 46);
	display: inline-block;
	position: relative;
	top: -108px;
	left: 200px;
}

.cannon__support::after {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 25px solid #000000;
	border-right: 100px solid transparent;
	position: absolute;
	right: -99px;
	bottom: 0;
}

.himars__shadow {
	width: 2500px;
	height: 150px;
	background-color: black;
	position: absolute;
	top: 1380px;
	left: 500px;
	border-radius: 50%;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 1), -20px -20px 30px rgba(0, 0, 0, 1), 20px -20px 30px rgba(0, 0, 0, 1), -20px 20px 30px rgba(0, 0, 0, 1);
	;
}

/*===============================================================================================================================*/
.page__studyblock {
	position: relative;
	max-width: 1200px;
	text-align: center;
}


.studyblock span {
	font-size: 40px;
	font-weight: 600;
}

.studyblock__2d {
	margin-bottom: 50px;
}

.studyblock__2d *:nth-child(2), .studyblock__3d *:nth-child(2) {
	margin-top: 20px;
}

.studyblock>*>*:not(:last-child) {
	margin-bottom: 40px;
}

.studyblock>*>*>*:not(:last-child) {
	margin-right: 40px;
}


.block {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 20px;
	background-color: brown;
	position: relative;
}

.block::after, .block--flip::before {
	content: "";
	padding-top: 30%;
	text-align: center;
	font-size: 26px;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: red;
	transition: all 0.5s ease 0s;
}

/*===============================================================================================================================*/
.block--translatex::after {
	content: "TranslateX (30px)";
}

.block--translatex:hover::after {
	transform: translatex(30px);
}

.block--translatey::after {
	content: "TranslateY (30px)";
}

.block--translatey:hover::after {
	transform: translatey(30px);
}

.block--translate-x::after {
	content: "TranslateX (-30px)";
}

.block--translate-x:hover::after {
	transform: translatex(-30px);
}

.block--translate-y::after {
	content: "TranslateY (-30px)";
}

.block--translate-y:hover::after {
	transform: translateY(-30px);
}

.block--translate::after {
	content: "Translate (30px, -30px)";

}

.block--translate:hover::after {
	transform: translate(30px, -30px);
}

/*===============================================================================================================================*/

.block--rotate::after {
	content: "Rotate (45deg)";
}

.block--rotate:hover::after {
	transform: rotate(45deg);
}

.block--rotatex::after {
	content: "RotateX (45deg)";
}

.block--rotatex:hover::after {
	transform: rotatex(45deg);
}

.block--rotatey::after {
	content: "RotateY (45deg)";
}

.block--rotatey:hover::after {
	transform: rotatey(45deg);
}

.block--rotate-origin::after {
	content: "Origin (bottom right)";
}

.block--rotate-origin:hover::after {
	transform-origin: bottom right;
	transform: rotate(30deg);
}

.block--rotate-percent::after {
	content: "Origin (25% 25%)";
}

.block--rotate-percent:hover::after {
	transform-origin: 25% 25%;
	transform: rotate(-30deg);
}

/*===============================================================================================================================*/
.block--scale-plus::after {
	content: "Scale (1.2)";
}

.block--scale-plus:hover::after {
	transform: scale(1.2);
}

.block--scale-minus::after {
	content: "Scale (0.8)";
}

.block--scale-minus:hover::after {
	transform: scale(0.8);
}

.block--scalexy::after {
	content: "Scale (1.2, 0.8)";
}

.block--scalexy:hover::after {
	transform: scale(1.2, 0.8);
}

.block--scaleyx::after {
	content: "Scale (0.8, 1.2)";
}

.block--scaleyx:hover::after {
	transform: scale(0.8, 1.2);

}

.block--scale-mirror::after {
	content: "Scale (-1, 1) 'Mirror'";
}

.block--scale-mirror:hover::after {
	transform: scale(-1, 1);
}

/*===============================================================================================================================*/

.block--skewx::after {
	content: "SkewX (30deg)";
}

.block--skewx:hover::after {
	transform: skewx(30deg);
}

.block--skewy::after {
	content: "SkewY (30deg)";
}

.block--skewy:hover::after {
	transform: skewy(30deg);
}

.block--skewxy::after {
	content: "Skew (-30deg, 20deg)";
}

.block--skewxy:hover::after {
	transform: skew(-30deg, 20deg);
}

.block--skew-origin::after {
	content: "Skew + Origin (50% top)";
}

.block--skew-origin:hover::after {
	transform-origin: 50% top;
	transform: skewx(-30deg);
}

.block--skew-origin2::after {
	content: "Skew + Origin (left 50%)";
}

.block--skew-origin2:hover::after {
	transform-origin: left 50%;
	transform: skewy(-30deg);
}

/*===============================================================================================================================*/

.block--matrix1::after {
	content: "Matrix 1";
}


.block--matrix1:hover::after {
	transform: matrix(1.2, 0.2, -1, 0.9, 0, 20);
}

.block--matrix2::after {
	content: "Matrix 2";
}


.block--matrix2:hover::after {
	transform: matrix(0.4, 0, 0.5, 1.2, 60, 10);
}

.block--matrix3::after {
	content: "Matrix 3";
}


.block--matrix3:hover::after {
	transform: matrix(0, 1, 1, 0, 0, 0);
}

.block--matrix4::after {
	content: "Matrix 4";
}


.block--matrix4:hover::after {
	transform: matrix(0.1, 1, -0.3, 1, 0, 0);
}

.block--matrix5::after {
	content: "Matrix 5";
}


.block--matrix5:hover::after {
	transform: matrix(0.5, 0.5, -0.5, 0.5, 25, 25);
}

/*========================================================================================================================*/

.studyblock__translate-3d * {
	perspective: 100px;
	perspective-origin: center;
}

.block--translate1::after {
	content: "Translate (-20px, 20px, 20px)";
}

.block--translate1:hover:after {
	transform: translate3d(-20px, 20px, 20px);
}

.block--translate2::after {
	content: "Translate (20px, -20px, -40px)";
}

.block--translate2:hover:after {
	transform: translate3d(20px, -20px, -40px);
}

.block--translate3::after {
	content: "Translate (20px, -20px, -40px)";
}

.block--translate3:hover:after {
	transform: translate3d(0, -20px, 20px);
}

.block--translate4 {
	perspective: 500px;
	perspective-origin: left top;
}

.block--translate4::after {
	content: "Translate + Perpective";
}

.block--translate4:hover:after {
	transform: translate3d(20px, 0, -40px);
}

.block--translate5 {
	perspective: 50px;
	perspective-origin: 50% bottom;
	transform-style: preserve-3d;
}

.block--translate5::after {
	content: "Translate + Perpective + Style";
}

.block--translate5:hover:after {
	transform: translate3d(20px, 20px, -20px);
}

/*===================================================================================================================================*/

.studyblock__rotate-3d * {
	perspective: 100px;
	perspective-origin: center;
}

.block--rotate1::after {
	content: "Rotate (0, 1, 1, 45deg)";
}

.block--rotate1:hover:after {
	transform: rotate3d(0, 1, 1, 45deg);
}

.block--rotate2::after {
	content: "Rotate (1, -1, 1, 45deg)";
}

.block--rotate2:hover:after {
	transform: rotate3d(1, -1, 1, 45deg);
}

.block--rotate3::after {
	content: "Rotate (-1, 0, -1, 90deg)";
}

.block--rotate3:hover:after {
	transform: rotate3d(-1, 0, -1, 90deg);
}

.block--rotate5 {
	perspective: 500px;
	perspective-origin: left top;
}

.block--rotate5::after {
	content: "Rotate + Perpective";
}

.block--rotate5:hover:after {
	transform: rotate3d(-1, 0, -1, 90deg);
}

.block--rotate4 {
	transform-style: preserve-3d;
}

.block--rotate4::after {
	content: "Rotate + Transform Style";
}

.block--rotate4:hover:after {
	transform: rotate3d(1, 2, -1, 180deg);
}

/*================================================================================================================================*/
.studyblock__scale-3d * {
	perspective: 100px;
	perspective-origin: center;
}

.block--scale1::after {
	content: "Scale (1.3, 1.3, 1.3)";
}

.block--scale1:hover::after {
	transform: scale3d(1.3, 1.3, 1.3);
}

.block--scale2::after {
	content: "Scale (0.5, 1, 1.7)";
}

.block--scale2:hover::after {
	transform: scale3d(0.5, 1, 1.7);
}

.block--scale3::after {
	content: "Scale (-1.4, 0.4, 0.7)";
}

.block--scale3:hover::after {
	transform: scale3d(-1.4, 0.4, 0.7);
}

/*====================================================================================================================================*/

.studyblock__flip {
	perspective: 100px;
	perspective-origin: center;
}

.block--flip:after {
	content: "Front";
}

.block--flip:hover::after {
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.block--flip::before {
	content: "Back";
	transform: rotateY(-180deg);
	background-color: green;
}

.block--flip:hover::before {
	transform: rotatey(0deg);
	backface-visibility: hidden;
}