/* Скидаємо усі стилі */

@import url("reset.css");

/* Давайте розрфарбуємо нашу сторінку використовуючи різні селектори та правило пріорітетності селекторів */

/* Синій колір для всього тексту в списках */

[class*="-list"] {
	color: blue;
}

/* А тепер задаємо зелений колір для усіх параграфів. Синіми залишаються лише теги h3 у списках */

p {
	color: green;
}

/* Робимо червоними заголовки першого, другого рівня та заголовок третього рівня, що знаходиться у об'єкті з класом .links, а також посилання яке безпосередньо знаходиться у футері*/

h1, h2, footer>a, .links h3 {
	color: red;
}

/* Додаэмо яскравості нашим заголовкам другого рівня */

span {
	color: orange;
}

/* Перефарбовуємо список у футері. Для початку дамо усім пунктам списку такий колір: */

.footer-title+ul {
	color: purple;
}

/* А тепер перефарбуємо перший пункт у списку футера */

#yellow {
	color: yellow;
}

/* Третій пунк був перемальований за допомогою інлайн стилю */


/* Зараз повернімось до стилізації списку у хедері. Усім пунктам коричневий колір: */

.link {
	color: brown;
}

/* Другому пункту задамо свій колір тут, а для третього використаємо інлайн стиль у html */

.link.second-link {
	color: salmon;
}