// Підключення шрифтів

@import "_fonts.scss";

// Обнулення стилів

@import "_reset.scss";

// Додаємо шапку

@import "_header.scss";

// Стилізуємо main

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.button {
	padding: 10px;
	background-color: orange;
	color: black;
	font-size: 20;
	font-weight: bold;
}

.link {
	padding: 10px;
	text-decoration: underline;
	font-weight: bold;
}

// Задаємо змінні

$mainColor: #fff;
$mainFont: "Inter";

// Додаємo підвал

@import "_footer.scss";
