@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");

@font-face {
	font-family: 'Core Sans C';
	src: url('../fonts/core_sans_c/CoreSansC-55Medium.woff2') format('woff2'), url('../fonts/core_sans_c/CoreSansC-55Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Core Sans C';
	src: url('../fonts/core_sans_c/CoreSansC-65Bold.woff2') format('woff2'), url('../fonts/core_sans_c/CoreSansC-65Bold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Core Sans C';
	src: url('../fonts/core_sans_c/CoreSansC-85Heavy.woff2') format('woff2'), url('../fonts/core_sans_c/CoreSansC-85Heavy.woff') format('woff');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'Causten';
	src: url('../fonts/causten/causten-regular.woff2') format('woff2'), url('../fonts/causten/causten-regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Causten';
	src: url('../fonts/causten/causten-medium.woff2') format('woff2'), url('../fonts/causten/causten-medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Causten';
	src: url('../fonts/causten/causten-semi-bold.woff2') format('woff2'), url('../fonts/causten/causten-semi-bold.woff2') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Causten';
	src: url('../fonts/causten/causten-bold.woff2') format('woff2'), url('../fonts/causten/causten-bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}