@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");

@font-face {
	font-family: 'Albionic Titul';
	src: url('../fonts/a_AlbionicTitulCm_Regular.woff2') format('woff2'), url('../fonts/a_AlbionicTitulCm_Regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}