/* ===================================== Додаємо шрифти =====================================================*/

@import url("fonts.css");

/* ===================================== Скидаємо усі стилі =================================================*/

@import url("reset.css");

/* ====================================== Працюємо зі статтєю =================================================*/

/* ====================================== Header, Footer =================================================*/
.header, .footer {
	padding: 20px 40px;
}

.header, .footer, .header .header-title, .footer .footer-title {
	font-family: 'Albionic Titul';
	font-style: oblique;
}

.header-title {
	text-indent: 20px;
}

.header-links, .footer-links {
	font-style: normal;
}

.header-links p, .footer-links p {
	margin-bottom: 10px;
}

.footer {
	text-align: right;
}

/* ====================================== Main =================================================*/


/* ====================================== Працюємо з макетом =================================================*/

/* ====================================== Перший блок ====================================================*/
.template {
	margin-bottom: 50px;
}

.first-block {
	margin: 0 auto 40px;
	max-width: 692px;
}

.first-block>img {
	margin-bottom: 37.5px;
}

[class*="title"] {
	font-family: 'Poppins';
	color: #37393F;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.text-block {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	line-height: 1.46;
}

h1+.text-block {
	margin-bottom: 42px;
}

h3+.text-block {
	margin-bottom: 39px;
}

.sub-title {
	font-size: 25px;
	text-transform: none;
}

.purple-title {
	color: #6B77E5;
	font-size: 20px;
	text-transform: none;
}

.lightblue-title {
	font-size: 20px;
	color: #40DDb6;
	text-transform: none;

}

.benefits>img {
	margin-right: 30px;
}

.benefits-text-block {
	display: inline-block;
	vertical-align: top;
}

.benefits-text-block h2 {
	margin-bottom: 15px;
}

.benefits-text-block h3 {
	margin-bottom: 21px;
}

.benefits ul {
	margin-left: 20px;
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
}

.first-block li:not(:last-child) {
	margin-bottom: 30px;
}

.first-block li img {
	margin: 0 8px 0 -18px;
}

.first-block li span {
	display: inline-block;
	padding-top: 5px;
}

/* ======================================= Другий блок ============================================*/

.second-block {
	font-size: 0;
	margin: 0 auto;
	max-width: 1169px;
}

.second-block .text-block {
	display: inline-block;
	max-width: 563px;
	margin-right: 38px;
	color: #474747;
	font-size: 20px;
	line-height: 1.8;
	padding: 21px 0;
}

.second-block h3 {
	color: #D06B00;
	font-family: Inter;
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 13px;
}

.second-block h2 {
	color: #0E333D;
	font-family: 'DM Serif Text';
	font-size: 59px;
	line-height: 1.47;
	text-transform: capitalize;
	margin-bottom: 25px;

}

.img-block {
	display: inline-block;
	vertical-align: top;
}

.img-block .leftimg {
	margin-right: 22px;
}

/* ====================================== Експерименти =========================================*/

/*====================================== Кольорові блоки =======================================*/

.page {
	width: 100%;
}

.experiments {
	width: 100%;
}

.exp-1, .exp-2 {
	width: 49.8%;
	max-height: 700px;
	display: inline-block;
}

.red {
	margin: 20px auto -125px;
	max-width: 600px;
	height: 300px;
	background-color: red;
}

.exp-2 .red {
	margin: 20px auto -75px;
	max-width: 300px;
	height: 150px;
	background-color: red;
}

.green {
	margin: 0 auto -100px;
	max-width: 500px;
	height: 250px;
	background-color: green;
}

.exp-2 .green {
	margin: 0 auto -100px;
	max-width: 400px;
	height: 200px;
	background-color: green;

}

.blue {
	margin: 0 auto -75px;
	max-width: 400px;
	height: 200px;
	background-color: blue;
}

.exp-2 .blue {
	margin: 0 auto -125px;
	max-width: 500px;
	height: 250px;
	background-color: blue;
}

.black {
	margin: 0 auto;
	max-width: 300px;
	height: 150px;
	background-color: black;
}

.exp-2 .black {
	margin: 0 auto;
	max-width: 600px;
	height: 300px;
	background-color: black;
}


/*======================================= Шахи ===============================================*/

.board {
	box-sizing: content-box;
	margin: 50px auto;
	max-width: 810px;
	height: 810px;
	border: 5px solid black;
	font-size: 0;
	box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
}

.vert {
	display: inline-block;
	width: 12.5%;
	height: 101.25px;
	padding-top: 10px;
	text-align: center;
}

.vert-even {
	background-color: rgb(211, 211, 211);
}

.vert-odd {
	background-color: black;
}

.board img {
	max-height: 90%;
}

/* ====================================== Текстові блоки ======================================*/

.frame {
	margin: 0 auto 40px;
	max-width: 1000px;
	height: 400px;
	border: 3px solid #6B77E5;
	box-sizing: content-box;
}

.block-1 {
	margin: 0 auto;
	max-width: 500px;
	height: 100px;
	overflow: scroll;
	white-space: nowrap;
	font-size: 40px;
}

.block-2 {
	display: inline-block;
	max-width: 250px;
	/* margin-right: 490px; */
	font-size: 40px;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top;
}

.frame img {
	margin: 10px 20px 0;
}

.block-3 {
	display: inline-block;
	max-width: 250px;
	font-size: 40px;
	white-space: nowrap;
	overflow: clip;
}

.block-4 {
	margin: 0 auto;
	max-width: 500px;
	height: 100px;
	overflow: auto;
	white-space: nowrap;
	font-size: 40px;
}