// Підключення шрифтів

@import "_fonts.scss";

// Обнулення стилів

@import "_reset.scss";

// Задаємо змінні

$mainColor: #fff;
$mainFont: "Inter";

// Додаємо шапку

@import "_header.scss";

// Стилізуємо main

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
body {
	opacity: 0;
	transition: opacity 2s ease;
}
.page {
	margin-top: 110px;
	margin-bottom: 110px;
}
.loaded {
	opacity: 1;
}
.item {
	font-size: 40px;
	padding: 10px;
	&-new {
		margin: 0 auto;
		width: 300px;
		height: 50px;
		border-radius: 10px;
		background-color: purple;
		text-align: center;
		font-size: 30px;
		padding: 10px;
	}
}
.textblock {
	font-size: 30px;
	margin-bottom: 30px;
}

// Додаємo підвал

@import "_footer.scss";
