@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");

@font-face {
	font-family: 'Artur';
	src:
		url('../fonts/Arthur_Gothic.woff2') format('woff2'), url('../fonts/Arthur_Gothic.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Baltica';
	src: url('../fonts/BalticaC.woff2') format('woff2'), url('../fonts/BalticaC.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Baltica';
	src: url('../fonts/BalticaC_Bold.woff2') format('woff2'), url('../fonts/BalticaC_Bold.woff') format('woff');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Baltica';
	src: url('../fonts/BalticaC_Italic.woff2') format('woff2'), url('../fonts/BalticaC_Italic.woff') format('woff');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Gagalin-Regular';
	src: url('../fonts/Gagalin-Regular.woff2') format('woff2'), url('../fonts/Gagalin-Regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}